<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>#bitup</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/dist/css/dashboard.css" rel="stylesheet">
    <link href="/dist/css/footer.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:insert="menu :: menu (selected='3')"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="page-header">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-info-sign"></span> Доступ закрыт!
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="col-sm-9 col-md-9">

            <h3>Вкладывайте свои Bitcoin и получайте ежедневные выплаты </h3>
            <div class="alert alert-info">

                <h4>Доступный баланс <b>0.000021035 BTC</b> (0.11 USD)</h4>
                <hr/>

            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <button class="btn btn-default  btn-lg pull pull-right" type="button">&larr; назад к инвестициям</button>

            <div class="popover right">
                <div class="arrow"></div>
                <h3 class="popover-title">Информер справа</h3>
                <div class="popover-content">
                    <p>Здесь произвольный текст. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <br/>
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <canvas id="barChartA"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="row">
                <canvas id="barChartB"></canvas>
            </div>
        </div>

    </div>
</div>


<div th:insert="menu-footer :: menu-footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/dist/js/docs.min.js"></script>
<script src="/dist/js/mdb.min.js"></script>
<script src="/dist/js/charts.js"></script>
</body>

</html>
