<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>#bitup</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/dashboard.css" rel="stylesheet">
    <link href="/dist/css/footer.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:insert="menu :: menu (selected='2')"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="page-header">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-info-sign"></span> Доступ закрыт!
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3>&nbsp;&nbsp;Пополните счет, чтобы создать депозит</h3>
            <div class="col-sm-10 col-md-10">
                <div class="alert alert-info">

                    <p>&nbsp;Отправьте Bitcoin на адрес</p><br/>
                    <div class="col-sm-9 col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly value="38VJBEmE6Kjv6tgzykwEZriCmNyyo1LnqL">
                            <span class="input-group-btn"><button class="btn btn-default" type="button">скопировать</button></span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3"><button type="button" class="btn btn-info" style="width:100%;">или купить</button></div>
                    <br/><br/><br/></div>
            </div>
            <div class="col-sm-2 col-md-2">
                <div class="alert alert-info">
                    <img src="dist/image/qrcode.png" />
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <p>Кошелек #bitup очень удобно использовать для любых видов платежей. Один из определяющих факторов в мире финансов - это безопасность, и она здесь на первом месте. Кроме абсолютной анонимности вы получаете современную защиту, которая использует новейшие достижения в сфере криптотехнологий.</p>
            </div>
            <div class="col-sm-6 col-md-6">
                <p>
                    Рекомендуем вам обязательно включить 2-факторную аутентификацию. Такой тип авторизации обеспечивает повышенную надежность благодаря запросу 2-факторной аутентификации от Google. Два слоя защиты помогут предотвратить несанкционированный доступ к персональной учетной записи, при этом сохраняя вашу анонимность.
                </p>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
</div>


<div th:insert="menu-footer :: menu-footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
</body>

</html>
